*{
  margin: 0;
  padding: 0
}

.nav-container{
/*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=ed681c&c2=f4d1b7&gt=l&gd=dtl
*/
background: #ED681C;
/* background: linear-gradient(135deg, #ED681C, #F4D1B7);
background: linear-gradient(135deg, #ED681C, #F4D1B7); */
background: linear-gradient(135deg, #ED681C 0%, #ED681C 60%, #F4D1B7 100%);

position: sticky;
top: 0;
height: 70px;
color: #593d88;
display: flex;
justify-content: space-between;
}

.nav-left{
  display: flex;
}


.home-container{
  display: grid;
  grid-template-rows: 380px 280px 1fr 1fr;
}


.row1-container{
  grid-row: 1;
}


.row2-container{
  grid-row: 2;
  display: flex;
  flex-direction: column;
}

.row3-container{
  grid-row: 3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  row-gap: 2rem

}


.deck-container{
  width: 50vw;
  margin: auto
}

.add-word-modal-container{
  display: "fixed";
  position: absolute;
  left: 170px;
  border: 1px solid black;
  border-radius: 15px;
  z-index: 999;
  padding: 50px 20px;
  background-color: "white" 
}


tr, th, td{
  padding: 12px;
}


.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  z-index: 1001;
  width: 20vw;
  height: 15vw;
  border: 2px solid #EA580C;
  border-radius: 15px;
} 

table {
  border-collapse: collapse;
}

.table-content {
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 750px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20ox rgba(0, 0, 0, 0.15);
}

.table-content thead tr {
  background-color: #fb7b36;
  color: #ffff;
  text-align: left; /* most modern web browsers like chrome tend to align header to the center, this makes it aligned to the data*/
  font-weight: bold;

}

.table-content th,
.table-content td {
  padding: 12px 15px
}

.table-content tbody tr {
  border-bottom: 1px solid #dddddd;
}

.table-content tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.table-content tbody tr:last-of-type {
  border-bottom: 2px solid #EA580C;
}

.card-word-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  border: 2px solid red;
}

.loading-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 70px);
}