.input-group {
    display: block;
} 

.input-group input {
    width: 80%;
    height: 25px;
    margin: 8px;
    padding: 5px
}

.input-group select {
    margin: 8px;
    width: 30%;
    height: 25px
}

button {
    margin: 15px;
}